RewriteEngine On

# Keep existing files and directories accessible
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Front controller
RewriteRule ^ index.php [L,QSA]
